
<h1>The Guardian API</h1>

<h2>These are the Guardian headlines:</h2>
 <div class="main">   
     <ul>
    {{#each data}}
<li> <a href="{{this.url}}">{{this.title}}</a></li>
     {{/each}} 
</ul>
 </div> 

{{!-- <p>To narrow down your search, you can amend the parameters by 
   clicking one of the buttons below:</p>


<button><p>travel</p></button>

<button><p>food</p></button>

<button><p>sports</p></button> --}}

