<nav>
    <ul>
        <li><a href='/'>Home</a></li>
<li> <a href="/guardian">Guardian API</a> </li>
<li><a href='#'>Second API</a></li>
<li><a href='#'>Third API </a></li>
</ul>
</nav>

<h1>The Guardian API</h1>

<h2>These are the top guardian headlines in the UK:</p>
     


    <h3> <a href="{{link}}">{{headline}}</a></h3>
    <h3> <a href="{{link2}}">{{headline2}}</a></h3>

<p>To narrow down your search, you can amend the parameters by 
   clicking one of the buttons below:</p>

<button><p>travel</p></button>

<button><p>food</p></button>

<button><p>sports</p></button>

