
<h1> Random Movie generator</h1>

<h2> {{movieTitle}} </h2>
<p>Release date: {{release}}</p>
<p>{{overview}}</p>


<form action="/movies" method="post">
<input type="text" name="film">
<input type="submit" value="Search your fave Movie!">

</form>